*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

nav{
display:flex;
justify-content:center;
background:linear-gradient(90deg,#6a11cb,#2575fc);
padding:15px;
}

nav a{
color:white;
margin:0 15px;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
background:white;
color:black;
transform:scale(1.1);
}

#home{
height:100vh;
background:url("https://media.licdn.com/dms/image/v2/D4D22AQFkhMLH6e36QA/feedshare-shrink_800/B4DZt8s2KVGgAg-/0/1767323690899?e=2147483647&v=beta&t=lF_Liyjt7wOtEAChBlNmPQye4LUnJ80AqYDTCPEFMQo");
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
}

#home a{
padding:12px 25px;
background:#6a11cb;
border-radius:10px;
color:white;
text-decoration:none;
}

section{
width:80%;
margin:auto;
padding:40px;
box-shadow:0 5px 15px grey;
border-radius:10px;
margin-top:40px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:20px;
}

.card{
position:relative;
overflow:hidden;
border-radius:10px;
box-shadow:0 5px 10px black;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
transition:0.5s;
}

.card:hover img{
transform:scale(1.2);
}

.overlay{
position:absolute;
bottom:0;
background:rgba(0,0,0,0.6);
color:white;
width:100%;
text-align:center;
padding:10px;
opacity:0;
transition:0.5s;
}

.card:hover .overlay{
opacity:1;
}

@media(max-width:600px){
section{
width:95%;
}
}
footer{
    margin-top:40px;
    background:linear-gradient(90deg,#6a11cb,#2575fc);
    color:white;
    text-align:center;
    padding:20px;
    font-size:14px;
    border-top:4px solid white;
}

/* Footer Hover Effect */
footer:hover{
    letter-spacing:1px;
    transition:0.3s;
}
form{
display:flex;
flex-direction:column;
gap:15px;
max-width:400px;
margin:auto;
padding:20px;
border:2px solid #6a11cb;
border-radius:12px;
box-shadow:0 5px 15px grey;
background:white;
}

form input,form select,form textarea{
padding:12px;
border-radius:8px;
border:2px solid #6a11cb;
font-size:15px;
}

form input:focus,form select:focus,form textarea:focus{
outline:none;
border-color:#2575fc;
box-shadow:0 0 5px #2575fc;
}

form button{
background:#6a11cb;
color:white;
padding:12px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

form button:hover{
background:#2575fc;
transform:scale(1.05);
}